body {
  background: black;
  color:white;
  font-weight: bold;
}
.process-item:hover{
  background-color: purple;
}
.selected {
    background-color:grey;
    color:white;
    font-weight:bold;
}
.bar {
  background:grey;
}
.bar-container{
  display: block;
}
